body {
    font-family: Arial, sans-serif; /* Friendly and clear font */
    background-color: #f0f0f0; /* Light gray background */
    margin: 0;
    display: flex; /* Center the form horizontally */
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Form takes up the entire viewport height */
  }
  
 body {
    background-image: url('fondo.jpg');
  }
  .container {
    width: 400px; /* Adjust width as needed */
    background-color: #24303c; /* White background for the form */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
    padding: 30px; /* Spacing for better visual hierarchy */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff; /* Darker gray heading */
  }
  
  .campo {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333; /* Darker gray for labels */
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 3px; /* Rounded corners */
    font-size: 16px; /* Consistent font size */
  }
  .button-container {
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  button { 
    background-color: #4f6ba7 ; /* Green primary button */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out; /* Smooth hover effect */
  }
  
  button:hover {
    background-color: #c9cfd2 ; /* Darker green on hover */
  }
  
  #mensaje {
    margin-top: 20px;
    text-align: center
  }

  